@use '@angular/material' as mat;

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.sentenceCon {
    display: flex;
    justify-content: center;
    gap: 8px;
}

.wordCon {
    font-size: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

p {
    margin-block: 15px;
    user-select: none;
    transition: 100ms ease-in-out;
}

.selectableWord {
    cursor: pointer;
    color: var(--mat-sys-primary);
}