@use '@angular/material' as mat;

a {
    border-radius: 0 !important;
}

.profileContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    width: calc(100% - 15px);
    bottom: 0;
    margin: 7.5px;
    @include mat.elevation(3);
    padding-block: 7.5px;
    border-radius: 10px;
}

.profile {
    display: flex;
    align-items: center;
}

img {
    border-radius: 100vh;
    width: 60px;
    height: 60px;
    object-fit: cover;
}

.textContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80px;
    margin-left: 5px;
}

h3, p {
    margin: 0;
}

p {
    font-size: 14px;
    margin-top: 2.5px;
    font-weight: 500;
}