@use '@angular/material' as mat;

:host * {
    transition: all 500ms ease-in-out;
}

a {
    border-radius: 0 !important;
}

.profileContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    width: calc(100% - 15px);
    bottom: 0;
    margin: 7.5px;
    @include mat.elevation(3);
    padding-block: 7.5px;
    border-radius: 10px;
    height: 60px;
    overflow: hidden;
}

.profile {
    display: flex;
    align-items: center;
}

img {
    border-radius: 100vh;
    object-fit: cover;
    width: 60px;
    height: 60px;
}

.textContainer {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 80px;
    margin-left: 10px;
    justify-content: center;
}

h3, p {
    margin: 0;
}

p {
    font-size: 14px;
    margin-top: 2.5px;
    font-weight: 500;
}

.hideProfile {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
}