<mat-nav-list>
    @for (item of menuItems(); track $index) {
        <a
          mat-list-item
          [routerLink]="item.route"
          routerLinkActive
          #rla="routerLinkActive"
          [activated]="rla.isActive"
        >
            <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
            @if (!sidebarCollapsed()) {
                <span matListItemTitle>{{ item.label }}</span>
            }
        </a>
    }
    <div class="profileContainer" [class.hideProfile]="sidebarCollapsed()">
        <div class="profile">
            <img [src]="profilePicture" [width]="profilePicSize()" [height]="profilePicSize()" class="profileImg" alt="profile image"/>
            <div class="textContainer" [class.hideText]="sidebarCollapsed()">
                <h3>{{ profileName }}</h3>
                <p>Úroveň: {{ profileRank }}</p>
            </div>
        </div>
        <button mat-icon-button>
            <mat-icon>{{ (loggedIn) ? 'logout' : 'login'}}</mat-icon>
        </button>
    </div>
</mat-nav-list>