<mat-nav-list>
    @for (item of menuItems(); track $index) {
        <a
          mat-list-item
          [routerLink]="item.route"
          routerLinkActive
          #rla="routerLinkActive"
          [activated]="rla.isActive"
        >
            <mat-icon [ngStyle]="{'margin-left': (sidebarCollapsed()) ? '20px' : '16px'}" matListItemIcon>{{ item.icon }}</mat-icon>
            @if (!sidebarCollapsed()) {
                <span matListItemTitle>{{ item.label }}</span>
            }
        </a>
    }
    <div class="profileContainer" [class.hideProfile]="sidebarCollapsed()">
        <div class="profile" [@fading]="(sidebarCollapsed()) ? 'collapsed' : 'expanded'">
            <img [src]="sharedService.profilePicture()" class="profileImg" alt="profile image"/>
            <div class="textContainer">
                <h3>{{ sharedService.username() | truncate }}</h3>
                <p>Úroveň: {{ sharedService.level() }}</p>
            </div>
        </div>
        <button mat-icon-button>
            <mat-icon (click)="navigateToLogin()">{{ (sharedService.loggedIn()) ? 'logout' : 'login' }}</mat-icon>
        </button>
    </div>
</mat-nav-list>