@use '@angular/material' as mat;

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

p {
    margin: 0;
}

$central-width: 800px;

.subCon, .subCon2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: $central-width;
}

.subCon p {
    margin-bottom: 20px;
    font-weight: 450;
    font-size: 27.5px;
}

.subCon2 p {
    margin-bottom: 20px;
    font-size: 22.5px;
    font-weight: 450;
}

.subCon2 {
    margin-bottom: 20px;
}

.buttonsCon {
    display: flex;
    align-items: center;
    width: $central-width;
}

.button {
    width: calc($central-width / 2);
    text-align: center;
    padding-top: 10px;
    cursor: pointer;
    margin-bottom: 20px;
    background-color: var(--mat-sys-surface-variant);
}

.leftBtn {
    border-top-left-radius: 5px;
}
.rightBtn {
    border-top-right-radius: 5px;
}

.button p {
    font-size: 20px;
    font-weight: 450;
}

.button hr {
    width: 100%;
    height: 2px;
    background-color: var(--mat-sys-outline-variant);
    border: none;
    margin-bottom: 0;
}

.button:hover hr {
    background-color: var(--mat-sys-secondary);
}
.active hr {
    background-color: var(--mat-sys-primary);
}

.friendsCon {
    display: grid;
    width: $central-width;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 5px;
    height: 340px;
}

.friendCon {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;
    gap: 20px;
    width: calc(($central-width / 3) - 5px);
    height: 90px;
    box-sizing: border-box;
}

.friendConCon {
    background-color: var(--mat-sys-surface-variant);
    border-radius: 5px;
    width: calc(($central-width / 3) - 5px);
    height: 110px;
    position: relative;
}

.friendCon img {
    border-radius: 100vh;
    object-fit: cover;
    width: 60px;
    height: 60px;
    margin-left: 10px;
}

.name {
    font-size: 18px;
    font-weight: 450;
}

.lvl {
    font-size: 14px;
    margin-top: 2.5px;
}

.returnBtn {
    position: fixed;
    width: 48px;
    height: 48px;
    background-color: var(--mat-sys-surface-variant);
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    box-sizing: border-box;
    padding-bottom: 2px;
    margin-left: 10px;
    @include mat.elevation(1);
}

.paginatorCon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    gap: 7.5px;
}

$red: #e41d18;
$green: #038c38;

.actionBtn {
    position: absolute;
    bottom: 5px;
    right: 5px;
    user-select: none;
    cursor: pointer;
    font-size: 15px;
    border-radius: 5px;
    padding: 5px 10px;
    transition: all 150ms ease-in-out;
}

.actionBtn:hover {
    border: solid 1px var(--mat-sys-primary);
    color: var(--mat-sys-primary);
}

.remove {
    border: 1px solid var(--mat-sys-secondary);
    color: var(--mat-sys-secondary);
}

.deny {
    border: 1px solid $red;
    color: $red;
}

.send, .accept {
    border: 1px solid $green;
    color: $green;
}

.accept {
    right: 105px;
}

.nonActive {
    border: 1px solid var(--mat-sys-outline-variant);
    color: var(--mat-sys-outline-variant);
    cursor: default;
}

.nonActive:hover {
    border: 1px solid var(--mat-sys-outline-variant);
    color: var(--mat-sys-outline-variant);
}


@media only screen and (max-width: 950px) {
    .returnBtn {
        margin-left: 60px;
    }
}
@media only screen and (max-width: 1110px) {
    $central-width: 530px;

    .buttonsCon {
        width: $central-width;
    }

    .button {
        width: calc($central-width / 2);
    }

    .subCon, .subCon2 {
        width: $central-width;
    }

    .friendsCon {
        width: $central-width;
        grid-template-columns: repeat(2, 1fr);
    }
}
@media only screen and (max-width: 550px) {
    $central-width: 260px;

    .buttonsCon {
        width: $central-width;
    }

    .button {
        width: calc($central-width / 2);
    }

    .subCon, .subCon2 {
        width: $central-width;
        flex-direction: column;
    }

    .friendsCon {
        width: $central-width;
        grid-template-columns: repeat(1, 1fr);
    }

    .container {
        height: auto;
        padding-bottom: 25px;
        padding-top: 50px;
    }
}

@media only screen and (max-height: 750px) {
    .container {
        height: auto;
        padding-bottom: 25px;
        padding-top: 50px;
    }
}
@media only screen and (max-height: 715px) {
    .friendsCon {
        grid-template-rows: repeat(2, 1fr);
        height: 225px;
    }
}