<mat-sidenav-container>

    <mat-sidenav opened mode="side" [style.width]="sidebarWidth()">
        <div class="headerContainer" [ngStyle]="{'justify-content': (collapsed()) ? 'center' : 'space-around'}">
            <h2 [@fading]="(collapsed()) ? 'collapsed' : 'expanded'" [class.hideText]="collapsed()">Praotec Čech</h2>
            <button class="sidebarBtn" mat-icon-button (click)="collapsed.set(!collapsed())">
                <mat-icon>menu</mat-icon>
            </button>
        </div>
        <app-sidebar-content [collapsed]="collapsed()"></app-sidebar-content>
    </mat-sidenav>

    <mat-sidenav-content [style.margin-left]="sidebarWidth()">
        <router-outlet></router-outlet>
    </mat-sidenav-content>

</mat-sidenav-container>