@use '@angular/material' as mat;

mat-sidenav {
  @include mat.elevation(3);
  border-radius: 0;
}

mat-sidenav-container {
  height: 100%;
}

h2 {
  margin: 0;
  height: 28.667px;
  text-wrap: nowrap;
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 15px);
  margin: 7.5px;
}

.hideText {
  opacity: 0;
  width: 0;
  height: 0;
}

mat-sidenav, mat-sidenav-content {
  transition: all 500ms ease-in-out !important;
}

// .sidebarBtn {
//   margin-left: 50px;
// }

.supportSidebarBtn {
  position: absolute;
  width: 48px;
  height: 48px;
  background-color: var(--mat-sys-surface-variant);
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-right-radius: 10px;
  box-sizing: border-box;
  padding-right: 2px;
  padding-bottom: 2px;
  @include mat.elevation(1);
}