<button mat-icon-button class="returnBtn" (click)="returnBack()">
    <mat-icon style="width: 24px; height: 24px; font-size: 24px; padding: 0;">arrow_back</mat-icon>
</button>

@if (mode == 'custom') {
    <div class="container2">
        <div class="concon1">
            <p class="inputHeading">Zadej větu:</p>
        </div>
        <mat-form-field>
            <input matInput #inputElement>
        </mat-form-field>
        <button mat-icon-button class="nextBtn" (click)="onSubmit()">
            <mat-icon>subdirectory_arrow_right</mat-icon>
        </button>
    </div>
}
@else {
    <div class="container">
        <div class="sentenceCon">
            @for (word of wordsArray(); track $index) {
                <div class="wordCon" [ngClass]="{
                                        'selectableWord': word.type === 1 || word.type === 2,
                                        'interpunkce': word.value === ',' || word.value === '.' || word.value === '!' || word.value === '?',
                                        'correctWord': answersSubmitted && word.score === 1,
                                        'incorrectWord': answersSubmitted && (!word.score || word.score < 1),
                                     }">
                    <p (click)="selectWord(word)">{{ word.value }}</p>
                </div>
            }
        </div>
        <button mat-icon-button class="nextBtn" (click)="submitAnswers()">
            <mat-icon>subdirectory_arrow_right</mat-icon>
        </button>
        <div class="concon">
            @if (clickedWordType == 1) {
                <p class="clickedWord">{{ clickedWord }}</p>
                <div class="choicesCon">
                    @for (selection of typeOneChoices(); track $index) {
                        <div class="conconcon" [ngClass]="selection.class">
                            @if (answersSubmitted) { <p class="shortcut">{{ getCorrectValue(clickedWord, selection.value) }}</p> }
                            <mat-form-field [className]="selection.class">
                                <mat-label>{{ selection.value }}</mat-label>
                                <mat-select (selectionChange)="saveChoices($event, selection)"
                                            [value]="getSavedChoice(selection.value)"
                                            [disabled]="(selection.value === 'Vzor' && !getSavedChoice('Rod')) || answersSubmitted">
                                    @for (choice of selection.choices; track $index) {
                                        <mat-option [value]="choice">{{ choice }}</mat-option>
                                    }
                                </mat-select>
                            </mat-form-field>
                        </div>
                    }
                </div>
            }
            @else if (clickedWordType == 2) {
                <p class="clickedWord">{{ clickedWord }}</p>
                <div class="choicesCon">
                    @for (selection of typeTwoChoices(); track $index) {
                        <div class="conconcon" [ngClass]="selection.class">
                            @if (answersSubmitted) { <p class="shortcut">{{ getCorrectValue(clickedWord, selection.value) }}</p> }
                            <mat-form-field [className]="selection.class">
                                <mat-label>{{ selection.value }}</mat-label>
                                <mat-select (selectionChange)="saveChoices($event, selection)"
                                            [value]="getSavedChoice(selection.value)"
                                            [disabled]="answersSubmitted">
                                    @for (choice of selection.choices; track $index) {
                                        <mat-option [value]="choice">{{ choice }}</mat-option>
                                    }
                                </mat-select>
                            </mat-form-field>
                        </div>
                    }
                </div>
            }
        </div>

    </div>
}
