@use '@angular/material' as mat;

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.container2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.sentenceCon {
    display: flex;
    justify-content: center;
    margin-right: 8px;
}

.wordCon {
    font-size: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 8px;
}

.interpunkce {
    margin-left: 0;
}

p {
    margin-block: 15px;
    user-select: none;
    transition: 100ms ease-in-out;
}

.selectableWord {
    cursor: pointer;
    color: var(--mat-sys-primary);
}

.inputHeading {
    font-size: 25px;
    margin: 0;
    font-weight: 500;
    margin-left: 10px;
    margin-bottom: 15px;
}

mat-form-field, .concon1 {
    width: 450px;
}

.mat-icon, .nextBtn{
    font-size: 40px;
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mat-icon {
    padding-left: 7px;
}

.concon {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-top: 50px;
    position: absolute;
    bottom: 0;
    margin-bottom: 100px;
}

.small {
    width: 100px;
}
.medium {
    width: 150px;
}

.clickedWord {
    margin: 0;
    font-weight: 450;
    font-size: 30px;
    margin-bottom: 20px;
}

.choicesCon {
    max-width: 875px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    column-gap: 5px;
}

.returnBtn {
    position: fixed;
    margin: 7.5px;
}

$red: #e41d18;
$green: #038c38;

.correctWord p {
    color: $green !important;
}
.incorrectWord p {
    color: $red !important;
}

.conconcon {
    position: relative;
    display: flex;
    justify-content: center;
}

.shortcut {
    position: absolute;
    top: -50px;
    font-size: 20px;
}