<div class="container" (mousemove)="onMouseMove($event)">
    <div class="cursor" [ngStyle]="{
            top: cursorPosition().top,
            left: cursorPosition().left,
            backgroundColor: cursorColor
        }">
    </div>
    <div class="sentenceCon">
        @for (word of wordsArray(); track $index) {
            <div class="wordCon" (click)="obarvitSlovo($index)" [style.color]="word.color">
                <p>{{ word.value }}</p>
            </div>
        }
    </div>
    <div class="druhCon">
        @for (druh of druhy(); track $index) {
            <div
                (click)="druhVybrani($index)" class="druh"
                [ngClass]="{'activeDruh': druh.selected}" [style.backgroundColor]="druh.color">
                {{ druh.viewValue }}
            </div>
        }
    </div>
</div>