@use '@angular/material' as mat;

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    gap: 20px;
}
.container2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.sentenceCon {
    display: flex;
    justify-content: center;
    gap: 8px;
}

.wordCon {
    font-size: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
}

p {
    margin-block: 15px;
    user-select: none;
    transition: 100ms ease-in-out;
}

.druhCon {
    position: absolute;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    gap: 15px;
    bottom: 0;
    margin-bottom: 100px;
    user-select: none;
    font-weight: 500;
    font-size: 20px;
}

.druh {
    padding-inline: 15px;
    padding-block: 10px;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    transition: 100ms ease-in-out;
    border: 2px solid transparent;
}

.druh:hover {
    border: solid black 2px;
}

.activeDruh {
    border: solid black 2px
}

.cursor {
    width: 25px;
    height: 25px;
    border-radius: 100vh;
    position: absolute;
    background-color: transparent;
    pointer-events: none;
    z-index: 1000;
}

.cursorCon {
    position: absolute;
    width: 100%;
    height: 100%;
}

.inputHeading {
    font-size: 25px;
    margin: 0;
    font-weight: 500;
    margin-left: 10px;
    margin-bottom: 15px;
}

mat-form-field, .concon {
    width: 450px;
}

.mat-icon, .nextBtn{
    font-size: 40px;
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mat-icon {
    padding-left: 7px;
}

#back {
    height: 24px;
    width: 24px;
    font-size: 24px;
    padding: 0;
}

.shortcut {
    position: absolute;
    font-size: 13px;
    top: 45px;
}
.correctType {
    color: black;
    font-size: 13px;
    bottom: 45px;
    position: absolute;
}

.returnBtn {
    position: fixed;
    margin: 7.5px;
}