@use '@angular/material' as mat;

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html {
  color-scheme: light;
  @include mat.theme((
    color: mat.$azure-palette,
  ));
}
html.dark-mode {
  color-scheme: dark;
  @include mat.theme((
    color: mat.$azure-palette,
  ));
}

.mat-drawer-inner-container {
    overflow: hidden !important;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    margin-block: 1em;
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: var(--mat-sys-outline-variant);
    border-radius: 100vh;
    height: 40%;
}