@use '@angular/material' as mat;

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.friends {
    display: flex;
    gap: 15px;
    width: 885px;
}

.friend {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

img {
    border-radius: 100vh;
    width: 75px;
    margin-bottom: 2.5px;
}

p {
    margin: 0;
    font-size: 15px;
}
.name {
    font-size: 17px;
    font-weight: 500;
}

hr {
    border: 0;
    height: 2px;
    width: 900px;
    background: var(--mat-sys-secondary);
    margin-block: 25px;
}

.status {
    position: absolute;
    background-color: gray;
    width: 15px;
    height: 15px;
    border-radius: 100vh;
    right: 5px;
    bottom: 45px;
}

.online {
    background-color: #32CD32;
}

.textCon {
    font-size: 19px;
    font-weight: 500;
    width: 885px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.friendsCount {
    font-size: 20px;
    font-weight: 500;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: underline;
}

.bookCon {
    width: 200px;
    height: 225px;
    padding: 20px;
    border: solid 2px var(--mat-sys-secondary);
    border-radius: 10px;
    transition: 200ms ease-in-out;
    cursor: pointer;
}

.tome {
    fill: var(--mat-sys-secondary);
    transition: 200ms ease-in-out;
}

.lexiconCon {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    margin-top: 35px;
}

.bookCon:hover {
    border-color: var(--mat-sys-primary);
}
.bookCon:hover .tome {
    fill: var(--mat-sys-primary);
}

.tomeHeading {
    font-size: 23px;
    font-weight: 500;
    margin-bottom: 10px;
    text-align: center;
}